<div class="container">
<div class="wrapper" *ngIf="!editMode">
    
            <div>
                <b>Ticket #:</b>  {{ ticket.ticket_id }}
            </div>

            <div>
                <b>Requester:</b>  {{ ticket.requester }}
            </div>
            <div>
            <ng-container *ngIf="showMore">
                
                    <b>Details:</b> {{ ticket.problemdetails}}
                
            </ng-container>
            </div>
            <div>
            <ng-container *ngIf="showMore">
                
                    <b>Phone:</b>  {{ ticket.phone}}
                
            </ng-container>
            </div>
            <ng-container *ngIf="showMore">
            <div>
                <b>Email:</b> {{ ticket.email}}
            </div>
            </ng-container>

            <div>
            <ng-container *ngIf="showMore">
                <b>Resolved:</b>  {{ ticket.resolved}}
            </ng-container>
            </div>

            <div>
            <ng-container *ngIf="showMore">
                <b>Resolved By:</b> {{ ticket.resolvedby}}
            </ng-container>
            </div>
            <div>
            <ng-container *ngIf="showMore">
                <b>Notes:</b>  {{ ticket.resnotes}}
            </ng-container>
            </div>
            <div>
            <ng-container *ngIf="showMore">
                <Button (click)="addToFavorites()">Add To Favorites</Button>
            </ng-container>
            </div>
    
    <ng-container *ngIf="showMore"><button (click)="turnOnEdit()">Edit</button></ng-container>
    <ng-container *ngIf="showMore"><button (click)="deleteMe()">Delete</button></ng-container>
    <ng-container *ngIf="!showMore"><button (click)="details()">Details</button></ng-container>
    <ng-container *ngIf="showMore"><button (click)="showLess()">Show Less</button></ng-container>
</div>
<div *ngIf="editMode">
    <tbody>
        <div>
            Ticket <input type="text" [(ngModel)]="editObj.ticket_id"> 
        </div>
        <div>
            Requester <input type="text" [(ngModel)]="editObj.requester">
        </div>
        <div>
            Details <input type="text" [(ngModel)]="editObj.problemdetails"> 
        </div>
        <div>
            Phone <input type="text" [(ngModel)]="editObj.phone">
        </div>
        <div>
            Email <input type="text" [(ngModel)]="editObj.email"> 
        </div>
        <div>
            Resolved: <input type="checkbox" [(ngModel)]="editObj.resolved"> 
        </div>
        <div>
            Resolved By: <input type="text" [(ngModel)]="editObj.resolvedby"> 
        </div>
        <div>
            Notes: <input type="text" [(ngModel)]="editObj.resnotes">
        </div>
        <div>
            Favorite <input type="checkbox" [(ngModel)]="editObj.isfavorite"> 
        </div>
    </tbody>
    <button (click)="saveChanges()">Save</button>
    <button (click)="cancel()">Cancel</button>
</div>
</div>