<div *ngIf="!editMode">
    <table rules="all">
        <tbody>
            <tr>
                <td>Ticket</td><td>{{ ticket.ticket_id }}</td>
            </tr>
            <tr>
                <td>Requester</td><td>{{ ticket.Requester}</td>
            </tr>
            <tr>
                <td>Details</td><td>{{ ticket.problemdetails}}</td>
            </tr>
            <tr>
                <td>Phone</td><td>{{ ticket.phone}}</td>
            </tr>
            <tr>
                <td>Email</td><td>{{ ticket.email}}</td>
            </tr>
            <tr>
                <td>Resolved:</td><td>{{ ticket.resolved}}</td>
            </tr>
            <tr>
                <td>Resolved By:</td><td>{{ ticket.resolvedby}}</td>
            </tr>
            <tr>
                <td>Notes:</td><td>{{ ticket.resnotes}}</td>
            </tr>
            <tr>
                <td>Favorite</td><td>{{ ticket.isfavorite}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="turnOnEdit()">Edit</button>
    <button (click)="deleteMe()">Delete</button>
</div>
<div *ngIf="editMode">
    <tbody>
        <tr>
            <td>Ticket</td> <td><input type="text" [(ngModel)]="editObj.ticket_id"> </td>
        </tr>
        <tr>
            <td>Requester</td><td> <input type="text" [(ngModel)]="editObj.requester"></td>
        </tr>
        <tr>
            <td>Details</td><td> <input type="text" [(ngModel)]="editObj.problemdetails"> </td>
        </tr>
        <tr>
            <td>Phone</td><td> <input type="text" [(ngModel)]="editObj.phone"></td>
        </tr>
        <tr>
            <td>Email</td><td> <input type="text" [(ngModel)]="editObj.email"> </td>
        </tr>
        <tr>
            <td>Resolved:</td><td> <input type="checkbox" [(ngModel)]="editObj.resolved"> </td>
        </tr>
        <tr>
            <td>Resolved By:</td><td> <input type="text" [(ngModel)]="editObj.resolvedby"> </td>
        </tr>
        <tr>
            <td>Notes:</td><td> <input type="text" [(ngModel)]="editObj.resnotes"></td>
        </tr>
        <tr>
            <td>Favorite</td><td> <input type="checkbox" [(ngModel)]="editObj.isfavorite"> </td>
        </tr>
    </tbody>
    <button (click)="saveChanges()">Save</button>
    <button (click)="cancel()">Cancel</button>
</div>